body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}
.half-width{
    width: 40%;
    margin-left: 5%;
}
.top-img{
    width: 80%;
}
h1{
    font-size: 50px;
    margin-top: -30px;
}
.name-color{
    color: #e1b12c;
    
}
.top-sec-title{
    border-left: 7px solid #e55039;
    padding-left: 5px;
}
.top-sec-text{
    font-size: 18px;
    line-height: 1.5;
}
.link-btn{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    font-weight: bold;
    background-color: #b71540;
    border-radius: 5px;
    margin: 20px 0px;
    display: inline-block;
}
.mission-title{
    text-align: center;
}
.mission-items{
    display: flex;
    justify-content: center;
}
.mi-img{
    width: 120px;
}
.mission-div{
    width: 300px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
}
.mission-div p{
    line-height: 1.5;
}
.mission{
    background-color: aquamarine;
}
.vission{
    background-color: pink;
}
.goals{
    background-color: lightgreen;
}
.mission-section{
    padding-bottom: 50px;
}
.my-thaughts{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.girls-pic{
    width: 70%;
    margin-left: 40px;
}
.photo-side{
    width: 40%;
    margin-left: 10%;
}
.text-side{
    width: 40%;
    margin-right: 10%;
}
.ts-title{
    font-size: 35px;
}
.ts-text{
    font-size:18px;
    line-height: 1.5;
}
.my-community{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
.mens-pic{
    width: 70%;

}
.mc-text-side{
    width: 40%;
    margin-left: 10%;
}
.mc-photo-side{
    width: 40%;
    margin-left: 10%;
}
.contact-section{
    padding: 100px 0px;
    text-align: center;
}
.cs-title{
    font-size: 40px;
    color: #b71540;
}
h3{
    font-size: 25px;
    margin-bottom: -18px;
}
.email-section{
    width: 550px;
    margin: 50px auto 0px;
    background-color: #4a69bd;
    color: white;
    padding: 20px 10px;
    border-radius: 20px;
}
.email{
    font-size: 30px;
    margin-top: 8px;
}